<div class="nav-container">
    <div class="nav-item">
      <a class="nav-link" href="/analytics">
        <span class="nav-icon material-icons md-48 text-success">query_stats</span>
        <div class="nav-content">Analytics</div>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/bets">
        <span class="nav-icon material-icons md-48 text-success">attach_money</span>
        <div class="nav-content">View and Create Bets</div>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/news">
        <span class="nav-icon material-icons md-48 text-success">public</span>
        <div class="nav-content">News Feed</div>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/friends">
        <span class="nav-icon material-icons md-48 text-success">groups</span>
        <div class="nav-content">Friends List</div>
      </a>
    </div>
    <% if(editor){ %>
    <div class="nav-item">
      <span class="nav-link" data-bs-toggle="modal" data-bs-target="#pm-modal" onclick="openPM()">
        <span class="nav-icon material-icons md-48 text-success">email</span>
        <div class="nav-content">Private Message</div>
      </span>
    </div>
    <% } %>
</div>